.ng-select {
  &.ng-select-opened {
    &.ng-select-focused {
      .ng-select-container {
        border: 1px solid $primary !important;
      }
    }
    .ng-arrow-wrapper {
      transform: rotateX(180deg);
      color: $red !important;
    }
    .ng-select-container {
      color: $black-text;
      .ng-value-container {
        .ng-input {
          padding-inline-start: 1.3rem;
        }
      }
    }
    .ng-dropdown-panel {
      border-top-right-radius: 0px;
      border-top-left-radius: 0px;
      height: auto;
      max-height: 180px;
      box-shadow: 0 0 10px 0 $box-shadow-1;
      background-color: $white;
      overflow-y: hidden;
      color: $grey-12;
      border: 1px solid $grey-11 !important;
      margin-top: 10px;
      @include border-radius(8px);

      .ng-dropdown-panel-items {
        @include scrollbars(8px, $white, $body-background-2, 10px);
        height: 100%;
        min-height: max-content;
        max-height: 160px;
        .ng-option {
          @include space(padding, x, 2.4rem);
          @include space(padding, y, 1.6rem);
          @include font-size(16);
          font-weight: $font-weight-regular;
          @include fontFamily($font-family-primary-en);
          display: flex;
          align-items: center;
          .ng-option-label {
            display: flex;
            align-items: center;
            justify-content: space-between;
            color: $grey-12;
            height: 100%;
            @include font-size(16);
            font-weight: $font-weight-regular;
            @include fontFamily($font-family-primary-en);

            .icon {
              color: $green;
              display: none;
              svg {
                fill: $green;
              }
            }
          }

          &.ng-option-selected {
            .ng-option-label {
              color: $grey-16;
              .icon {
                display: block;
              }
            }
            background: $dropdown-background;
          }

          &.ng-option-selected {
            font-size: 5rem;
          }
          &.ng-option-marked {
            // background: $dropdown-background-2;
          }
          &:hover {
            background: $dropdown-background-2;
          }
        }
      }
    }
  }

  &.ng-select-multiple {
    .ng-select-container {
      .ng-value-container {
        // height: 40px;
        overflow-y: auto;
        .ng-input {
          padding-left: unset !important;
          padding-right: unset !important;
        }
      }
      .ng-clear-wrapper {
        margin-inline-start: 10px;
      }
    }
  }
  .ng-select-container {
    z-index: 1;
    margin: 7px 0 0;
    padding: 15px 16px !important;
    border-radius: 8px;
    border: solid 1px $grey-11;
    display: flex;
    align-items: center;
    margin-top: 0px;
    color: $grey-text;

    .ng-value-container {
      padding-left: unset !important;
      color: $grey-12;
      display: flex;
      align-items: center;
      @include font-size(16);
      font-weight: $font-weight-regular;
      @include fontFamily($font-family-primary-en);
      justify-content: flex-start;
      .ng-placeholder {
        color: $grey-14;
        @include font-size(16);
        font-weight: $font-weight-regular;
        @include fontFamily($font-family-primary-en);
      }

      .ng-input {
        // padding-left: 1rem !important;
        // padding-right: 1rem !important;
      }
    }
    .ng-clear-wrapper {
      // margin-top: 6px;
    }
    .ng-arrow-wrapper {
      width: 14px;
      // height: 7px;
      background-image: url('../../assets/media/icons/forms/angle-down.svg');
      background-size: 100%;
      background-repeat: no-repeat;
      background-position: 100%;
    }
  }
  .ng-has-value {
    justify-content: flex-start;
    .ng-value-container {
      .ng-placeholder {
        display: none;
      }
    }
    .ng-value {
      position: relative;
      margin-inline-end: 20px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      .ng-value-icon {
        position: absolute;
        right: -12px;
        font-weight: bold;
        font-size: 1.3rem;
        line-height: 1;
        color: $grey-text;
        padding: 2px;
        display: inline-block;
      }
      .ng-value-label {
        .icon {
          display: none;
        }
      }
    }
  }
  &-disabled {
    background-color: rgba($color: $grey-text, $alpha: 0.2);
  }
}

.ng-dropdown-panel {
    z-index: 1 !important;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    height: auto;
    max-height: 180px;
    box-shadow: 0 0 10px 0 $box-shadow-1;
    background-color: $white;
    overflow-y: hidden;
    color: $grey-12;
    border: 1px solid $grey-11 !important;
    margin-top: 10px;
    @include border-radius(8px);

    
    .ng-dropdown-panel-items {
        @include scrollbars(8px, $white, $body-background-2, 10px);
        height: 100%;
        min-height: max-content;
        max-height: 160px;
        .ng-option {
            @include space(padding, x, 2.4rem);
            @include space(padding, y, 1.6rem);
            @include font-size(16);
            font-weight: $font-weight-regular;
            @include fontFamily($font-family-primary-en);
            display: flex;
            align-items: center;
            .ng-option-label {
                display: flex;
                align-items: center;
                justify-content: space-between;
                color: $grey-12;
                height: 100%;
                @include font-size(16);
                font-weight: $font-weight-regular;
                @include fontFamily($font-family-primary-en);

                .icon {
                    color: $green;
                    display: none;
                    svg {
                        fill: $green;
                    }
                }
            }

            &.ng-option-selected {
                .ng-option-label {
                    color: $grey-16;
                    .icon {
                        display: block;
                    }
                }
                background: $dropdown-background;
            }

            &.ng-option-selected {
                font-size: 5rem;
            }
            &.ng-option-marked {
                // background: $dropdown-background-2;
            }
            &:hover{
                background: $dropdown-background-2;
            }
        }
    }
}

